<a href="https://colab.research.google.com/github/bderosa06/BTE320-In-Class-Assignments/blob/main/In_class_assignments_Bradley_DeRosa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
r = 3
h = 10

Area = 2*pi*r*r + 2*pi*r*h
print(Area)

244.92000000000002

In [ ]:
import random
play_the_game = input('Do you want to play? Yes or no: ')
while play_the_game == 'Yes' :

  p1 = input("choose rock, paper, scissors: ")
  p2 = random.choice(['rock','paper','scissors'])

  if p1==p2:
    print('Draw')

  elif p1=='rock' and p2=='scissors':
    print('p1 wins')

  elif p1=='rock' and p2=='paper':
    print('p2 wins')

  elif p1=='paper' and p2=='rock':
    print('p1 wins')

  elif p1=='paper' and p2=='scissors':
    print('p2 wins')

  elif p1=='scissors' and p2=='rock':
    print('p2 wins')

  elif p1=='scissors' and p2=='paper':
    print('p1 wins')

  play_the_game == input('Do you want to play? Yes or no: ')

p1 wins

In [ ]:
N1= float(input("Number: "))
N2= float(input("Number: "))
Symbol = input('Operation (+, -, *, /, **): ')

if(Symbol=='+'):
  print(N1+N2)

elif(Symbol=='-'):
  print(N1-N2)

elif(Symbol=='*'):
  print(N1*N2)

elif(Symbol=='/'):
  print(N1/N2)

elif(Symbol=='**'):
  print(N1**N2)

Number: 4
Number: 5
Operation (+, -, *, /, **): +
9.0

In [ ]:
flat_rate =5
hourly_rate =2.5

for h in range (1,9):
  charge = flat_rate + hourly_rate*h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
ticket_price= 10
fixed_cost= 200
fixedattendees= 20

for ad in range(0,225,25):
  additionalattendees = round (2 * ad ** 0.5)
  profit = (fixedattendees + additionalattendees)*ticket_price - ad - fixed_cost
  print(ad,profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give a value: '))
print(L)

Give a value: 1
Give a value: 2
Give a value: 5
Give a value: 7
Give a value: 0
[1, 2, 5, 7]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

print(L1)

[3, 4]

In [14]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for idx in range(len(numbers)):
 months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}